<app-navbar></app-navbar>
<div class="about-hero d-flex align-items-center text-center">
  <div class="container">
    <h1 class="fw-bold text-white">About Premium Watches Co.</h1>
    <p class="text-white mt-3">
      Timeless craftsmanship, luxury design, and precision watches made
      for those who value elegance and quality.
    </p>
  </div>
</div>

<div class="container py-5">
  <div class="row align-items-center g-5">

    <!-- Text -->
    <div class="col-lg-6">
      <h2 class="fw-bold mb-3">Who We Are...</h2>
     <p class="text-muted fs-5">
  Premium Watches Co. creates timepieces that reflect elegance, precision,
  and exceptional craftsmanship for individuals who appreciate true luxury
  and refined design. Each watch is thoughtfully designed to make a lasting
  impression while maintaining flawless performance.
</p>

<p class="text-muted fs-5">
  Our watches are designed to complement modern lifestyles, combining
  durability, comfort, and timeless appeal. Whether for daily wear or
  special occasions, every piece delivers reliability, sophistication,
  and unmatched quality.
</p>

    </div>

    <!-- Image -->
    <div class="col-lg-6 text-center">
      <img
        src="https://images.unsplash.com/photo-1612817159949-195b6eb9e31a?q=80&w=900"
        class="img-fluid rounded-4 shadow"
        alt="Luxury Watch">
    </div>

  </div>
</div>

<div class="container py-5">
  <div class="row text-center g-4">

    <!-- Mission -->
    <div class="col-md-6">
      <div class="card border-0 shadow h-100 bg-body-tertiary border border-warning ">
        <div class="card-body p-4">
          <h4 class="fw-bold mb-3">Our Mission</h4>
         <p class="text-muted mb-0">
  To deliver premium-quality watches that blend luxury, precision,
  and affordability for every occasion. We are committed to creating
  timepieces that reflect superior craftsmanship, lasting durability,
  and refined style for modern lifestyles.
</p>

        </div>
      </div>
    </div>

    <!-- Vision -->
    <div class="col-md-6">
      <div class="card border-0 shadow h-100 bg-body-tertiary">
        <div class="card-body p-4">
          <h4 class="fw-bold mb-3">Our Vision</h4>
         <p class="text-muted mb-0">
  To be a globally admired watch brand recognized for timeless design,
  innovation, trust, and customer satisfaction. Our vision is to set
  new standards in quality while building long-lasting relationships
  with watch enthusiasts worldwide.
</p>
        </div>
      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>
